<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NeoVault Login</title>
</head>
<body>

<h2>Login</h2>

<form th:action="@{/login}" method="post" th:object="${neoUserModel}">

    <input type="text"
           th:field="*{username}"
           placeholder="Username" />
    <br><br>

    <input type="password"
           th:field="*{password}"
           placeholder="Password" />
    <br><br>

    <button type="submit">Login</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red"></p>

</body>
</html>
