<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout}">

<!-- This fragment will be injected into layout -->
<div th:fragment="content">

    <h2>User Registration</h2>

    <form th:action="@{/register}" method="post" th:object="${neoUserModel}">
        <input th:field="*{username}" placeholder="Username"><br><br>
        <input type="password" th:field="*{password}" placeholder="Password"><br><br>

        <select th:field="*{role}">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select><br><br>

        <select th:field="*{status}">
            <option value="ACTIVE">ACTIVE</option>
            <option value="INACTIVE">INACTIVE</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
	
	
	    <div th:if="${error}" style="color:red; margin-bottom:10px;">
	        <p th:text="${error}"></p>
	    </div>


</div>

</html>
